---
/**
 * Gothic Button Component
 * Uses Blizzard Diablo methodology with real button assets
 * Variant-specific styling for proper dimensions
 */

export interface Props {
  variant?: 'button1' | 'button2' | 'button3' | 'button4' | 'button5' | 'button6';
  size?: 'small' | 'medium' | 'large';
  disabled?: boolean;
  href?: string;
  class?: string;
  type?: 'button' | 'submit' | 'reset';
  onClick?: string;
}

const { 
  variant = 'button1',
  size = 'medium',
  disabled = false,
  href,
  class: className = '',
  type = 'button',
  onClick
} = Astro.props;

// Button asset paths for different variants
const buttonAssets = {
  button1: 'Button 1',
  button2: 'Button 2', 
  button3: 'Button 3',
  button4: 'Button 4',
  button5: 'Button 5',
  button6: 'Button 6'
};

const buttonPath = buttonAssets[variant];
const Tag = href ? 'a' : 'button';
---

<Tag
  class={`blz-button blz-button--${variant} blz-button--${size} ${disabled ? 'blz-button--disabled' : ''} ${className}`}
  href={href}
  type={!href ? type : undefined}
  disabled={!href ? disabled : undefined}
  onclick={onClick}
>
  <div class="optional-fill"></div>
  <p class="button-content">
    <slot />
  </p>
</Tag>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.blz-button {
    position: relative;
    background-color: transparent;
    color: #BD9B4E;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-size: auto 100%;
    background-position: left, right, center;
    background-repeat: no-repeat, no-repeat, repeat-x;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: 0 64px;
    min-height: 55px;
    background-clip: border-box;
  }

  .blz-button .button-content {
    position: relative;
    z-index: 2;
    text-shadow: 0px 2px 9px black, 0px 2px 9px black, 0px 1px 14px black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: inherit;
    width: 100%;
    user-select: none;
  }

  .blz-button .optional-fill {
    background-repeat: repeat;
    display: flex;
    height: calc(100% - 12px);
    pointer-events: none;
    position: absolute;
    width: calc(100% - 12px);
    z-index: 1;
  }

  .blz-button:hover {
    color: #E9C964;
    filter: brightness(1.2);
  }

  .blz-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: auto 100%;
    background-position: left, right, center;
    background-repeat: no-repeat, no-repeat, repeat-x;
    transition: opacity 350ms, filter 350ms;
    opacity: 0;
    z-index: 1;
  }

  .blz-button:hover:after {
    opacity: 1;
    filter: brightness(1.2);
  }

  .blz-button .blz-icon {
    filter: drop-shadow(0px 2px 9px black) drop-shadow(0px 2px 9px black) drop-shadow(0px 1px 14px black);
    width: 20px;
    display: inline-block;
    margin-right: 8px;
  }

  @media (min-width: 720px) {
    .blz-button .blz-icon {
      width: 24px;
    }
  }

  .blz-button--button1 {
    background-image: 
      url('/assets/graphics/buttons/Button 1/Button 1 left.png'),
      url('/assets/graphics/buttons/Button 1/Button 1 right.png'),
      url('/assets/graphics/buttons/Button 1/Button 1 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;

    .button-content {
      transform: translateY(1px);
    }
  }

  .blz-button--button1:after {
    background-image: 
      url('/assets/graphics/buttons/Button 1/Button 1 left.png'),
      url('/assets/graphics/buttons/Button 1/Button 1 right.png'),
      url('/assets/graphics/buttons/Button 1/Button 1 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button2 {
    background-image: 
      url('/assets/graphics/buttons/Button 2/Button 2 left.png'),
      url('/assets/graphics/buttons/Button 2/Button 2 right.png'),
      url('/assets/graphics/buttons/Button 2/Button 2 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button2:after {
    background-image: 
      url('/assets/graphics/buttons/Button 2/Button 2 left.png'),
      url('/assets/graphics/buttons/Button 2/Button 2 right.png'),
      url('/assets/graphics/buttons/Button 2/Button 2 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button3 {
    background-image: 
      url('/assets/graphics/buttons/Button 3/Button 3 left.png'),
      url('/assets/graphics/buttons/Button 3/Button 3 right.png'),
      url('/assets/graphics/buttons/Button 3/Button 3 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button3:after {
    background-image: 
      url('/assets/graphics/buttons/Button 3/Button 3 left.png'),
      url('/assets/graphics/buttons/Button 3/Button 3 right.png'),
      url('/assets/graphics/buttons/Button 3/Button 3 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button4 {
    background-image: 
      url('/assets/graphics/buttons/Button 4/Button 4 left.png'),
      url('/assets/graphics/buttons/Button 4/Button 4 right.png'),
      url('/assets/graphics/buttons/Button 4/Button 4 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button4:after {
    background-image: 
      url('/assets/graphics/buttons/Button 4/Button 4 left.png'),
      url('/assets/graphics/buttons/Button 4/Button 4 right.png'),
      url('/assets/graphics/buttons/Button 4/Button 4 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button5 {
    background-image: 
      url('/assets/graphics/buttons/Button 5/Button 5 left.png'),
      url('/assets/graphics/buttons/Button 5/Button 5 right.png'),
      url('/assets/graphics/buttons/Button 5/Button 5 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button5:after {
    background-image: 
      url('/assets/graphics/buttons/Button 5/Button 5 left.png'),
      url('/assets/graphics/buttons/Button 5/Button 5 right.png'),
      url('/assets/graphics/buttons/Button 5/Button 5 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button6 {
    background-image: 
      url('/assets/graphics/buttons/Button 6/Button 6 left.png'),
      url('/assets/graphics/buttons/Button 6/Button 6 right.png'),
      url('/assets/graphics/buttons/Button 6/Button 6 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--button6:after {
    background-image: 
      url('/assets/graphics/buttons/Button 6/Button 6 left.png'),
      url('/assets/graphics/buttons/Button 6/Button 6 right.png'),
      url('/assets/graphics/buttons/Button 6/Button 6 mid.png');
    background-size: auto 100%, auto 100%, calc(100% - 130px) 100%;
    background-position: left center, right center, center;
  }

  .blz-button--small {
    transform: scale(0.8);
    transform-origin: center;
  }

  .blz-button--medium {
    transform: scale(1);
  }

  .blz-button--large {
    transform: scale(1.2);
    transform-origin: center;
  }

  .blz-button--disabled {
    cursor: not-allowed;
    opacity: 0.6;
    filter: grayscale(0.5);
        background-color: transparent;
  }

  .blz-button--disabled:hover {
    color: var(--color-highlight-brass);
  }

  .blz-button--disabled:after {
    display: none;
  }
</style>
